<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{head}}}
    <title>post it</title>
</head>
<body>
    <header class="row justify-between align-center">
    <h3> Post it</h3>
    <nav class="row align-center">
<<<<<<< HEAD
      {{#if User}}
      <p>Welcome, {{User.email}}</p>
      
      <a href="/login">post</a>
      <a href="/logout">Logout</a>
      {{else}}
      {{log "not user"}}
        {{log user}}
=======
      {{#if user}}
      <a href="/post">post</a>
      <a href="/profile">profile</a>
      <a href="/logout">Logout</a>
      {{else}}
>>>>>>> 40e3e5077bf180ed28e0902b6ce9c80a28b86c89
      <a href="/register">Register</a>
      <span>or</span>
      <a href="/login">Login</a>
      {{/if}}

    </nav>
  </header>
    {{{body}}}

    
</body>
</html>