<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<h1>post it</h1>
<p>{{name}}</p>
<ul>{{#each fruits}}
    <li>{{this}}</li>
    {{/each }}
</ul>

<section>
    
    {{#if user}}
    {{#each posts}}
    
        <section class=" column align-center text-center">
    <a href="/viewpost/{{this.id}}">
        <article class="border">
    <h2>{{this.title}}</h2>
    {{this.text}}
    <span> by </span>
    {{author.username}}
     <p>on:</p>
    <span>{{this.date}}</span>
    </article>
    </a>
    </section>
    {{/each}}
    {{/if}}
    {{!-- {{log 'author' author}} --}}
    {{#each post}}
    <section class=" column align-center text-center">
          <article class="border">
    <a href="/viewpost/{{this.id}}">
    <h2>{{this.title}}</h2>
    {{this.text}}
    <span> by </span>
    {{author.username}}
    <p>on:</p>
    <span>{{this.date}}</span>
    </a>
    </article>
    </section>
    {{/each}}
</section>