<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<h1>post it</h1>
<p>{{name}}</p>
<ul>{{#each fruits}}
    <li>{{this}}</li>
    {{/each }}
</ul>

<section>
    {{#if user}}
    {{#each posts}}
    <section>
    <a href="/viewpost/{{this.id}}">
    {{this.text}}
    <span> by </span>
    {{author.username}}
    </a>
    </section>
    {{/each}}
    {{/if}}
    {{log 'author' author}}
    {{#each post}}
    <section>
    <a href="/viewpost/{{this.id}}">
    {{this.text}}
    {{author.username}}
    </a>
    </section>
    {{/each}}
</section>