<h1>hi {{user.username}}</h1>

{{#if user.posts}}
<section>
<h2>your posts</h2>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>text</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{!-- {{log user}} --}}
        {{#each user.posts}}
        <tr>
            <td><h3><a href="/viewpost/{{this.id}}">{{title}}</a></h3></td>
            
            <td><a href="/viewpost/{{this.id}}">{{text}}</a></td>
            
            <td>
                {{!-- {{log this}} --}}
            <a href="/edit_post/{{this.id}}">
            <button>edit</button>
            </a>
            </td>
            <td>
                <form action="/post/delete/{{this.id}}" method="POST">
                {{!-- <a href="/post/delete/{{this.id}}" > --}}
                <button style=" width: 50px; height:30px;">delete</button>
                </form>
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>

</section>
{{else}}
<p>you dont have posts</p>

{{/if}}